body{  /* Config padrão */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #E9967A;
    
}
header {
    
    width: 100%;
    height: 60px;
}

.navbar{
    height: 60px;
    margin-top: 0;
}
.active{
    font:bold;
    color: #fff;
}

main{  /* Config padrão */
    flex: 1; 
    height: calc(100vh - 85px);
    padding: 22px;
    background:#E9967A;
    overflow-y: auto;
    } 

.imghx {
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 5%;   
    
}

h1 {
    text-align: center;
    font-size: 310%;
  
}

h2 {
    text-align: center;
    font-size: 180%;
    margin: 4% 0;
}

footer{ /* Config padrão */
    background-color: black;
    color: #fff;
    text-align: center;    
    font-size: 15px;
    height: 25px; 
    padding: auto; 
}