body{  /* Config padrão */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    min-height: 100vh;
    background: #E9967A;
    
}
header {
    padding: 10px 0;
    width: 100%;
}

main{  /* Config padrão */
    flex: 1; 
    min-height: 79vh;
    padding: 22px;
}

.menu ul { /* Config padrão */
    list-style: none;
    padding: 0 0 0 60px;
    display: flex;       
}

.menu a { /* Config padrão */
    text-decoration: none;
    color: #000000;
    font-size: 25px;    
}

    
a{ /* Config padrão */
   text-decoration: none;
}

.imghx {
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 5%;   
    
}

h1 {
    text-align: center;
    font-size: 310%;
  
}

h2 {
    text-align: center;
    font-size: 180%;
    margin: 4% 0;
}

footer{ /* Config padrão */
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;  
}