.container{
    display: flex;  
    justify-content:center;
    width: 100%;   
    padding: 0;             
}

.receita1, .receita2, .receita3, .card {
    position: relative;
    background-color:bisque;
    justify-content: center;
    align-items: center;
    height: 400px;    
    margin: 3%;
    
  }

  .card-title {
    text-align:left;
    font-size: 100%;
    font: bold;
  }

  .receita1 ul, .receita2 ul, .receita3 ul{
    text-align: left;
    font-size: 70%;
    
  }

  .receita1 p, .receita2 p, .receita3 p{
    width: 100%;
    font-size: 70%;    
    text-align: left;   

  }

