.container{
    display: flex; 
    justify-content: center; /* Centraliza as divs horizontalmente */
    align-items: center; /* Centraliza as divs verticalmente */                
}

.receita1, .receita2, .receita3 {
    margin: 10px;
    padding: 20px;
    width: 400px;
    height: 620px;
    background-color:bisque;
    
  }

  h3{
    padding-top: 20px;
    font-size: 25px;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    
}

.ingredientes1 {
    position: relative;
    font-size: 22px;
    color:black;
    padding-left: 40px; 
    bottom:18%;   
}

p{
    position: relative;
    font-size: 22px;
    color:black;
    text-align: justify;
    bottom: 13%;
}

img{
    position: relative;
    margin: 0 auto;
    display: block;
    right:132%;
    bottom:25%;       
    
}

hr {
    border: 1px solid black; 
    margin: 20px 0;
    bottom: 15%;
    position: relative;
}